.SinglePost_container {
  width: 600px;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
}
.SinglePost_container p {
  margin: 10px;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin: 15px;
}

.profile span {
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
}
.profile img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 25px;
}
.PostImage {
  width: 600px;
}
.LikeCommentShare {
  display: flex;
  justify-content: space-between;
}
.LikeCommentShareCount {
  display: flex;
  justify-content: space-between;
  padding: 0px 45px;
}
.LikeCommentShare button {
  margin: 4px 4px;
  padding: 6px 6px;
  border-radius: 8px;
  width: 100%;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LikeCommentShare button:hover {
  background-color: rgb(238, 238, 238);
}

.LikeCommentShare span {
  margin-left: 10px;
  align-items: center;
  margin-right: 4px;
}
.postBottomButton img {
  width: 24px;
}

.LikeCountContainer {
  display: flex;
  gap: 6px;
}

.LikeCountContainerHR {
  border: 1px solid #ced0d4;
}
