.pageContent {
  display: flex;
  width: 100%;
  height: calc(100% - 66px);
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}
.createPage {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  /* background-color: gray; */
  padding: 10px;
  text-align: left;
}
input {
  border: 1px solid gray;
  border-radius: 7px;
  margin: 10px 0px;
}
textarea {
  border: 1px solid gray;
  border-radius: 7px;
  height: 100px;
}

.submitButton {
  background-color: blue;
  color: white;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 6px;
}
.createPage h2 {
  font-weight: bold;
  font-size: 20px;
}
.createPage p {
  font-size: 12px;
  margin-top: 16px;
}
.createPage {
  width: 460px;
  padding: 16px;
  background-color: #fff;
}
.channelList {
  display: flex;
  width: 100%;
  height: 100%;
  /* grid-template-columns: auto auto auto auto; */
}
.bio {
  padding: 6px;
  margin: 6px 0 0 0;
}

.subHeading {
  font-size: 14px;
}
.errorComponent {
  margin: 4px 0;
  color: red;
}
